<?xml version="1.0"?>
<configuration>
  <components>
    <component id="CommonService" service="CPS.Proof.DFSExtension.ICommon, iProofProcessService,Version=5.2.07.08, Culture=neutral, PublicKeyToken=f11f3efc7e6573c2" type="CPS.Proof.DFSExtension.Common, iProofProcessService,Version=5.2.07.08, Culture=neutral, PublicKeyToken=f11f3efc7e6573c2" lifestyle="Pooled" initialPoolSize="200" />   
   <component id="SlotManager" service="CPS.Proof.DFSExtension.ISlotMonitor, FormInterfaceLibrary,Version=5.2.07.08, Culture=neutral, PublicKeyToken=f11f3efc7e6573c2" type="CPS.Proof.DFSExtension.SlotMonitorSql, DataController,Version=5.2.07.08, Culture=neutral, PublicKeyToken=f11f3efc7e6573c2" lifestyle="Pooled" initialPoolSize="200" />
   <component id="Cryptographer" service="SRA.Proof.Common.ICryptoManager, CommonInterface,Version=5.2.07.08, Culture=neutral, PublicKeyToken=f11f3efc7e6573c2" type="SRA.Proof.Common.CryptoManager, Cryptography,Version=5.2.07.08, Culture=neutral, PublicKeyToken=f11f3efc7e6573c2" lifestyle="Pooled" initialPoolSize="200" />
   <component id="ExternalQueryController" service="CPS.Proof.DFSExtension.IExternalQueryController, FormInterfaceLibrary,Version=5.2.07.08, Culture=neutral, PublicKeyToken=f11f3efc7e6573c2" type="CPS.Proof.DFSExtension.ExternalQueryExecutorMsSql, DataController,Version=5.2.07.08, Culture=neutral, PublicKeyToken=f11f3efc7e6573c2" lifestyle="Pooled" initialPoolSize="200" />
  </components>
</configuration>
